
.App {
  font-family: 'Poppins';
  text-align: center;
 
}
.header-div{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-div p{
  font-weight: bold;
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: rgb(100, 205, 110);
}
.header{
  
  padding-right: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins';
  margin-bottom: 2rem;
}
img{
  max-width: 5rem;
  padding: 1rem;
  animation: rotx infinite 3s ease-in;
 
}
.header h1{
  
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

@keyframes rotx {
  from{transform: rotateY(0deg);}
  /* 50%{transform: rotateZ(360deg);} */
  to{transform: rotateY(360deg);}
}
 @media screen and ( max-width:580px) {
   .App{
     font-size: x-small;
    
   }
   .header-div {
     text-align: center;
     padding-top: 0;
     margin-top: 0;
     width: 100%;
    flex-direction: column;
    
   }
   .header-div p{
     transform: translateX(-20%);
     text-align: center;
     position: inherit;
     margin: 0;
   }
 }